@model IEnumerable<Penalty>

@{
    ViewData["Title"] = "Penalty List";
    ViewData["Card Title"] = "Penalty List";
}

<div class="container mt-5">

    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            No Penalties available in the library at this time.
        </div>
    }
    else
    {
        <div class="text-center mb-4">
            <div class="p-3 bg-light border rounded shadow-sm">
                <h2 class="mb-1 fs-7 fw-bold text-black-50">Penalty List</h2> 
            </div>
        </div>

        <div class="container">
            <form method="get" asp-area="Librarian" asp-controller="Penalty" asp-action="Search" class="input-group my-3 search-bar">
                <input type="text" name="username" class="form-control" placeholder="Search with username..." aria-label="Search">
                <button class="btn" type="submit" style="background-color: rgb(255, 200, 1); color: #343a40;">
                    <i class="fas fa-search" style="color:#343a40"></i> Search
                </button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Username</th>
                    <th>Due date</th>
                    <th>Return date</th>
                    <th>Total penalty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Pen in Model)
                {
                    <tr>
                        <td>@Pen.Return.CheckOut.Book.Title</td>
                        <td>@Pen.Return.CheckOut.ApplicationUser.Name</td>
                        <td>@Pen.Return.CheckOut.DueDate</td>
                        <td>@Pen.Return.ReturnDate</td>
                        <td>@Pen.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
